appdirs==1.4.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.21.0
opencv-contrib-python==4.5.3.56
opencv-contrib-python-headless==4.5.3.56
opencv-python==4.5.2.54
opencv-python-headless==4.5.3.56
python-vlc==3.0.12118
six==1.15.0
SQLAlchemy==1.4.11
virtualenv==20.4.4
Werkzeug==1.0.1
